body
{
  margin: 0px 0px 0px 0px;
}
#main1
{
  background:#c6f1d6;
}
.header1
{
  margin-top:0px;
  margin-left: 25%;
  display:grid;
  grid-template-columns: 450px 450px;
  grid-gap:150px;
}
.header1-photo
{
  padding-top:25px;
}
.header1-links
{
  font-size:20px;
  padding-top:50px; /* font-family: 'Montez', cursive;  font-family: 'Great Vibes', cursive; */
  padding-left: 45px;
  word-spacing: 20px;
}
#links
{
  text-decoration: none;
  color:#216583;
}
.heading
{
  width:25%;
  color: #41aaa8;
}
.heading h1
{
  word-spacing: 25px;
}
span
{
  font-size:85px;
  font-family: 'Great Vibes', cursive;
}
.heading-paragraph
{
  font-size:25px;
  padding-top: 20px;
}
.main2
{
  margin-top:50px;
  width:450px;
  text-align: center;
  margin-left:35%;
}
.main2 p
{
  font-size:20px;
}
hr
{
  width:6%;
  color:#41aaa8;
  border-width:8px;
  border-style:none;
  border-top-style:dotted;
}
#whaticando
{
  font-size:55px;
}
.main3
{
  width:30%;
  margin-left:35%;
  display:grid;
  grid-template-columns:200px 1000px;
  grid-column-gap: 80px;
}
.main3-photo
{
  width:200px;
}
.main3-paragraph
{
  width:35%;
}
.main4
{
  margin-left:35%;
  width:40%;
  display:grid;
  grid-template-columns:450px 200px;
}
.main4-paragraph
{
  width:330px;
}
.main5
{
  width:35%;
  text-align: center;
  margin-left:32%;
}
.main5 h1
{
  font-size:48px;
}
.main5 h2
{
  font-size:25px;
}
.main4 p
{
  font-size:20px;
}
.main5 p
{
  font-size:20px;
}
.main3 p
{
  font-size:20px;
}
.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Georgia;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	padding:15px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.myButton:hover {
	background:-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}
.last
{
  background:#41aaa8;
  width:100%;
  height:150px;
}
#last-links
{
  font-size:20px;
  margin-top:35px;
  padding-left:15px;
  text-decoration:none;
  color:#105e62;
}
#last-link
{
  text-decoration:none;
  color:#105e62;
}
#last-link:hover
{
  text-decoration:underline;
  color:#105e62;
}
#last-links:hover
{
  color:#38470b;
}
.last p
{
  color:#105e62;
}
@media screen and (max-width:750px)
{
  body
  {
    width:600px;
    background-color:lightgreen;
  }
  #mountain
  {
    width:400px;
  }
  #main1,.main2,.main3,.main4,.main5,.last
  {
    width:600px;
    margin-left:0px;
    padding-left:0px;
  }

}
